* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.product-info img {
  width: 100%;
}
.payment .prices {
  border-top: 1px solid #000;
  margin-top: 0.5rem;
}
.card-body {
  position: relative;
}
.card-body i.remove {
  opacity: 0;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  transition: opacity 0.5s ease-in;
}
.card-body:hover i.remove {
  opacity: 1;
}
.fa-minus,
.fa-plus,
.decrease-trash {
  /* outline: 1px solid red; */
  padding: 0.3rem;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.171);
}
.fa-minus,
.decrease-trash,
.quantity {
  margin-right: 0.8rem;
}
footer a {
  display: inline-block;
}